#event2-doc {
    margin-left: 100px;
    padding: 50px 0px 0px 205px;
    margin-bottom: 0px;
    margin-top: 0px;
  /*  border: solid; */
} 

#pic {
    display: block;
    border-radius: 4px;
    margin: auto;
    padding: 5px 0px 20px 0px;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 25px 0px 0px 0px;
  }

  td {
    text-align: left;
    padding: 5px;
    font-size: 20px;
  } 

  th {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
  }

  p{
      text-align: center;
      font-size: 25px;
  }