@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}


  .sidenav{
    font-size: 20px;
    height: 30px;
    text-align: center;
    margin: 0px 50px 0px 25px;
  }


  div{
    position: relative;
    min-width: 100px;
    max-width: 600px;
    margin: 700px 0px 0px 0px;
    height: 100%;
    border-right: solid;
    border-color: black;
    background-color: white;
    line-height: 2.0;
    font-size: 18px;
  }

  body { 
    min-width: 290px;
    line-height: 1.5;
    font-family: "Open Sans";
  }