
#activites-doc {
    margin-left: 100px;
    padding: 50px 0px 0px 205px;
    margin-bottom: 0px;
    margin-top: 0px;
    /*  border: solid; */
} 

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 25px 0px 0px 0px;
    font-size: 30px;
  }
  
  #table {
      display: flex;
      justify-content: center;
  }

#event {
    display: block;
    border-radius: 4px;
    margin: auto;
    padding: 55px 0px 20px 0px;
}

p {
    font-size: 30px;
}