/*#phones-doc {
    margin-left: 100px;
    padding: 50px 0px 0px 205px;
    margin-bottom: 0px;
    margin-top: 0px;
} */

h1 {
    font-size: 50px;
}

p {
    font-size: 35px;
}

#bold {
    color: red;
    text-align: center;
    font-size: 40px;
}

#phone {
    display: block;
    border-radius: 4px;
    margin: auto;
}

/*#barstyle {
    font-size: 35px;
}*/