#sources-doc {
    margin-left: 100px;
    padding: 50px 0px 0px 205px;
    margin-bottom: 0px;
    margin-top: 0px;
  /*  border: solid; */
} 

#sources {
    display: block;
    margin: 90px 0px 0px 200px;
}
#barstyle {
    font-size: 15px;
}