h2{
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
}

p {
    font-size: 25px;
}


#pic {
    display: block;
    border-radius: 4px;
    margin: -35px 1000px 0px 300px;
    padding: 5px 0px 20px 0px;
}

#wreck {
    font-size: 25px;
}